@charset "utf-8";

body {font-size:12px; color:#666; overflow-y:scroll; line-height:19px; font-family:'Malgun Gothic',-apple-system,'dotum','sans-serif';}
body,html {height:100%; width:100%;} 
li {list-style:none;}
fieldset,ul,li,h1,h2,h3,h4,h5,ol,dl,dt,dd,p,body,input {margin:0; padding:0;}
fieldset {border:0;}
legend {display:none;}
iframe {border:none;}
img {border:0; vertical-align:middle;}
button {border:0; cursor:pointer;}
::selection {background:#ffdda8; color:#967540;}
a {text-decoration:none;}
a:link {color:#656565;}
a:visited {color:#888888;}
a:hover {color:#676767;}
a:active {color:#777; }
table {border-collapse:collapse;}
table caption {display:none;}
input,textarea,button,select {font-size:12px; color:#666; vertical-align:middle; font-family:'Malgun Gothic',-apple-system,'dotum','sans-serif';}
h1,h2,h3,h4,h5,h6 {font-size:12px; color:#666;}
th {font-weight:normal; text-align:left;}
input[type='month'],input[type='url'],input[type='tel'],input[type='color'],input[type='datetime'],input[type='datetime-local'],
input[type='text'],input[type='number'],input[type='password'],input[type='date'],input[type='email'] {border:1px solid #ccc; height:26px; width:100%; padding:0 5px; line-height:26px; vertical-align:middle;}
textarea {width:100%; padding:0 5px; border:1px solid #aaa; line-height:16px; height:52px; white-space:pre-line;}
select {line-height:40px; border:1px solid #ccc; height:26px; padding:0 5px; margin:0; box-sizing:border-box; vertical-align:middle; box-sizing:border-box;}
input[readonly='readonly'] {background-color:#eee;}
div,a,li,ol,ul,dl,dt,dd,span,strong,p,h1,h2,h3,h4,h5,img,input,button,iframe,textarea {box-sizing:border-box; } /* transition:0.3s all linear; transition:all 0.3s linear 0.9s; */
body {background:#fff;}

#header {width:1280px; height:150px; margin:0 auto; position:relative; z-index:2;}
#header h1 {padding:50px 0 30px 0; text-align:center; display:none;}

#menu {width:1280px; color:#fff; height:50px; line-height:50px; background:url(/img/common/mask.png) repeat; margin:0 auto; position:relative; z-index:2;}
#menu a {color:#fff; display:block; padding:0 10px;}
#menu ul li {display:inline-block; }
#menu ul li:first-child {padding-left:10px;}
#menu ol {position:absolute; right:0; top:0;}
#menu ol li {display:inline-block; padding:0 10px;}
#menu ol li:last-child {padding-right:20px;}

#content {width:1280px; min-height:300px; margin:0 auto; position:relative; z-index:1; overflow:hidden; padding-bottom:30px;}
#content h2 {padding:20px 0 10px 0; font-size:14px; color:#333; clear:both; position:relative;}
#content h2 span {font-size:12px; font-weight:normal; color:#999;}
#content h2 span.btnArea {position:absolute; right:0; bottom:10px;}

#footer {width:1280px; background:url(/img/common/mask.png) repeat rgba(0,0,0,0.5); margin:50px auto; position:relative; z-index:2; padding:30px 0; text-align:center; clear:both;}
#footer p {font-size:12px; color:#fff; line-height:16px; padding:5px 0;}
#footer p span {cursor:pointer;}
#footer p.admin {color:#ff5500;}

#visual {width:100%; overflow:hidden; clear:both;}
#visual img {width:100%;}
#visual:after {content:''; width:80px;}
#visual .slide .btn_prev {width:60px; height:60px; background-position:0 -180px; margin-top:-30px;}
#visual .slide .btn_next {width:60px; height:60px; background-position:-60px -180px; margin-top:-30px;}
#visual .slide .btn_prev:hover {background-position:0 -240px;}
#visual .slide .btn_next:hover {background-position:-60px -240px;}

.tc {text-align:center;}
.tr {text-align:right;}
.btnWrap {padding:10px 0 20px 0; text-align:center;}

.pointer {cursor:pointer;}
.underline {text-decoration:underline;}

#dimmed {width:100%; display:none; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.6); z-index:100;}
#dimmed.on {display:block;}

#alert {width:100%; height:100%; position:fixed; text-align:center; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.3); display:none;}
#alert.on {display:block;}
#alert .wrap {width:300px; padding:30px 0; margin-left:-150px; background-color:#fff; margin-top:-100px; position:fixed; left:50%; top:50%; background:#fff; box-sizing:border-box; border:1px solid #333; box-shadow:0 0 10px rgba(0,0,0,0.5);}
#alert .wrap .alert {text-align:center; line-height:20px; padding:15px 10px 3px 10px; font-size:11px;}
#alert .wrap h5 {padding:10px 0;}
#alert .wrap .btn_wrap {padding-top:20px;}

.icoHelp {cursor:default;}
.icoHelp .layer {display:none;}

#help {display:none; white-space:normal; word-break:break-all; position:absolute; z-index:2; width:200px; left:0px; top:0; margin:10px 0 0 -200px; padding:10px; border:1px solid #000; background:#fff;}
#help.on {display:block;}

.button, button {line-height:24px; height:26px; vertical-align:middle; padding:0 10px; display:inline-block; border-radius:2px; white-space:nowrap; border:1px solid #ccc; background:#fff; color:#777;}
.button.small, button.small {padding:0 4px 0 3px; margin:-2px 0 0 3px; line-height:12px; font-size:10px; height:14px; background:#999; color:#fff; border-radius:3px; white-space:nopwrap;}
.button.large, button.large {line-height:30px; height:32px; padding:0 20px;}
.button.on, button.on,
button[type="submit"] {background:#ff5500; color:#fff; border:1px solid #ff5500;}
button[disabled="disabled"] {border:1px solid #aaa; background:#eee; color:#999;}
button[type="submit"].normal,
button[type="button"].normal {border:1px solid #ccc; background:#fff; color:#999;}
button[type="reset"] {border:1px solid #888; background:#f9f9f9;}

p.none {text-align:center; padding:30px 0; width:100%; clear:both; border:1px solid #eee;}

.dimmed {width:100%; display:none; height:100%; z-index:100; position:fixed; left:0; top:0; background:rgba(0,0,0,0.3);}
.dimmed.on {display:block;}

#loading {position:fixed; display:none; left:50%; top:50%; z-index:500; margin:-5px 0 0 -55px; width:110px; height:10px;}
#loading.on {display:block;}
ul.loading li {background-color:#ff5500; border-radius:50%; display:inline-block; margin-right:3px; width:10px; height:10px; margin-left:5px; opacity:0.1; transform:scale(0.7); animation:move 0.7s infinite linear;}
ul.loading li:nth-child(1),ul.loading li:nth-child(5){animation-delay: .4s;}
ul.loading li:nth-child(2),ul.loading li:nth-child(4){animation-delay: .3s;}
ul.loading li:nth-child(3) {animation-delay: .2s;}
@keyframes move{0%{transform: scale(1.2);opacity:1;} 100%{transform: scale(0.7);opacity:0.1;}}

#login {position:fixed;text-align:center; padding:30px 50px; z-index:500; width:300px; height:230px; border:1px solid #ccc; left:50%; top:50%; margin:-115px 0 0 -150px; background:#eee;}
#login h3 {font-size:20px; line-height:30px; padding:10px 0;}
#login input {margin-bottom:5px;}
#login button {display:inlin-block; margin-top:10px;}

.captcha {width:140px; margin-bottom:5px; position:relative; overflow:hidden; height:53px; line-height:30px; text-align:center; padding-right:5px; padding-top:10px; background:#eee;}
.captcha .through {transform:rotate(10deg); width:120%; height:1px; background:#888; position:absolute; left:-10%; top:20px;}
.captcha ol li {display:inline-block; color:#888; font-size:30px; letter-spacing:3px;}
.captcha ol li.lan1 {font-weight:blod; transform:rotate(-30deg);}
.captcha ol li.lan2 {font-family:batang; transform:rotate(10deg);}
.captcha ol li.lan3 {font-weight:blod; transform:rotate(-10deg);}
.captcha ol li.lan4 {font-family:arial; transform:rotate(20deg); font-weight:blod;}
.captcha ol li.lan5 {font-family:impact;}
.captcha ol li.lan6 {font-family:dotum; transform:rotate(-20deg);}
.captcha ol li.lan7 {font-weight:blod; transform:rotate(-40deg);}
.captcha ol li.lan8 {font-family:batang; transform:rotate(15deg);}
.captcha ol li.lan9 {font-weight:blod; transform:rotate(-10deg);}
.captcha ol li.lan0 {font-family:arial; transform:rotate(20deg); font-weight:blod;}

.paginator {width:100%; clear:both; padding:10px 0; text-align:center;}
.paginator span {display:inline-block; padding:0 10px; color:#333; font-size:14px; font-family:arial; letter-spacing:3px;}

table th.required {position:relative;}
table th.required:after {content:'*'; display:inline-block; color:#ff0000; padding-left:5px;}

.txtGuide {color:#ff5500; font-size:11px; position:relative; padding-bottom:3px;}
.txtGuide:before {content:'*'; display:inline-block; padding:0 5px;}

.searchForm {width:100%; clear:both; padding-bottom:5px;}
.searchForm table {width:100%; border-top:2px solid #666;}
.searchForm table th {width:100px; padding:5px 10px; border:1px solid #ddd; background:#f2f2f2;}
.searchForm table td {padding:5px 10px; border:1px solid #ddd;}
.searchForm table td select,
.searchForm table td input {width:150px;}
